@import "tailwindcss";

@theme {
  --color-primary: #FC3A71;
  --color-primary-light: #FF8FA3;
  --color-secondary: #B24AFB;
  --color-accent: #F5F5F5;
  --color-bg-light: #FFF5F7;
  --color-text-main: #2E0235; /* Darker purple for main text */
}

@layer base {
  body {
    background-color: var(--color-bg-light);
    color: var(--color-text-main);
  }
}
