@import "tailwindcss";

@theme {
  --color-primary: #D4AF37;
  --color-primary-light: #F3E5AB;
  --color-secondary: #800020;
  --color-accent: #F5F5F5;
  --color-bg-light: #FFFAF0;
}

@layer base {
  body {
    background-color: var(--color-bg-light);
    color: var(--color-secondary);
  }
}
